<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Buy {{ token }} with Bitcoin, Ethereum and more crypto currencies.">
    <meta name="author" content="@wehmoen">
    <link rel="icon" href="{{ logo }}">

    <title>Buy {{ token }} with Bitcoin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4 rounded" src="{{ logo }}" alt="" width="72" height="72">
        <h2>{{ token }} Donation List</h2>

        <p class="lead">
                <h4>Total planted TREEs: {{ data.totalBurn }}</h4>
        <h5>Plant TREEs yourself: <a href="/">$1.00USD plants 1 TREE</a></h5>
        </p>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Planted TREEs</th>
                        <th>Steem Username</th>
                        <th>Memo</th>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data.data %}
                        <tr>
                            <td>{{ row.quantity }} TREEs</td>
                            <td>{{ row.account }}</td>
                            <td>{{ row.memo|escape }}</td>
                            <td>
                                <a class="btn btn-light text-dark btn-sm " href="//steem-engine.rocks/tx/{{ tx.txid }}" target="_blank">Show Transaction</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; {{ ""|date("Y") }} {{contact.name}}</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="//steemit.com/@{{ contact.steem }}">Blog</a></li>
            <li class="list-inline-item"><a href="mailto:{{ contact.email }}?subject={{ token }}%20Purchase">Contact</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
<script>
    const price_per_token = {{ price_plain }};
    function updateTotal() {
        $('#total').text((price_per_token * parseInt($('#quantity').val())).toFixed(2))
    }

    $(() => {
        $('#quantity').on("change", updateTotal);
        $('#quantity').on("keyup", updateTotal);
    })
</script>
</body>
</html>
